.comments-area {
  @apply rounded-md border p-12 bg-primary-default;
}

ol.commentlist {
  @apply space-y-12;
}

li article {
  @apply space-y-6 bg-primary-default p-6 my-6 rounded-md relative;
}

.edit-link a {
  @apply bg-gray-200 rounded-md px-2 not-italic uppercase text-sm absolute top-1 right-1;
}

ul.children article {
  @apply text-sm border border-neutral-light-500 bg-transparent;
}

li.depth-2 {
  margin-left: 1.5rem;
}
li.depth-3 {
  margin-left: 3rem;
}
li.depth-4 {
  margin-left: 4.5rem;
}
li.depth-5 {
  margin-left: 6rem;
}

.comment article img {
  display: none;
}

li.depth-1 {
  @apply border-r border-accent-default pr-3;
}

.comment-meta {
  @apply flex flex-wrap justify-between;
}

.comment-metadata {
  font-style: italic;
}

ol.comment-list {
  @apply my-12;
}

ol.comment-list > li {
  @apply bg-neutral-100 p-6 rounded-md my-6 shadow-md relative;
}

ol.children > li {
  @apply bg-primary-default p-6 rounded-md my-6;
}

textarea,
input {
  @apply w-full;
}

ol.comment-list li .comment-body,
.comment-details {
  @apply flex flex-col gap-6;
}

ol.comment-list li a.comment-reply-link,
ol.comment-list li a.comment-edit-link {
  @apply bg-secondary text-primary-default rounded-md py-1 px-3 shadow-md;
}

ol.comment-list li a.comment-edit-link {
  @apply absolute top-4 right-4;
}

.comment-respond {
  @apply my-12 w-full p-6 bg-accent-default text-primary-default rounded-md flex flex-col gap-6;
}

form.comment-form,
.comment-form-comment {
  @apply flex flex-col gap-6;
}

form.comment-form .comment-form-comment textarea {
  @apply text-secondary rounded-md p-6;
}

.comment-form .submit,
.reply a {
  @apply rounded-md bg-secondary text-primary-default px-3 py-1 cursor-pointer;
}

.comment-reply-title,
.comments-title {
  @apply flex font-black font-sans;
}

.comment-reply-title small {
  @apply flex text-secondary;
}

.comment-reply-title small #cancel-comment-reply-link {
  @apply h-full flex items-center bg-red-600 text-primary-default px-3 ml-3 rounded-md;
}

.logged-in-as a {
  @apply ml-2;
}

.logged-in-as a:last-of-type {
  @apply hidden;
}

.required-field-message {
  @apply ml-auto;
}
