.comments-area {
  @apply rounded-md border p-12 bg-primary-default;
}

ol.comment-list {
  @apply my-12;
}

ol.comment-list > li {
  @apply bg-neutral-100 p-6 rounded-md my-6 shadow-md relative;
}

ol.children > li {
  @apply bg-primary-default p-6 rounded-md my-6;
}

ol.comment-list li .comment-body,
.comment-details {
  @apply flex flex-col gap-6;
}

ol.comment-list li a.comment-reply-link,
ol.comment-list li a.comment-edit-link {
  @apply bg-secondary text-primary-default rounded-md py-1 px-3 shadow-md;
}

ol.comment-list li a.comment-edit-link {
  @apply absolute top-4 right-4;
}

.comment-respond {
  @apply my-12;
}

.comment-respond,
form.comment-form,
.comment-form-comment {
  @apply flex flex-col gap-6;
}

.comment-form .submit {
  @apply rounded-md bg-secondary text-primary-default px-3 py-1 cursor-pointer;
}

.comment-reply-title,
.comments-title {
  @apply flex font-black font-sans;
}

.comment-reply-title small {
  @apply flex text-secondary;
}

.comment-reply-title small #cancel-comment-reply-link {
  @apply h-full flex items-center bg-red-600 text-primary-default px-3 ml-3 rounded-md;
}

.logged-in-as {
  @apply flex items-center;
}

.logged-in-as a:last-of-type {
  @apply hidden;
}

.required-field-message {
  @apply ml-auto;
}
