/* SETTING SOME DEFAULTS FOR FIGURE / FIGCAPTION */

address {
  @apply not-italic;
}

figure img {
  @apply object-cover;
}

figcaption {
  @apply px-2 text-center;
}

/* PROFILE BLOCK HOVER STYLES */

[class*='blockhaus'] .wp-block-button__link,
[class*='blockhaus'] .wp-block-read-more,
.is-style-button-rounded a.wp-block-button__link {
  @apply hover:ring-4 hover:ring-yellow-400 focus:ring-4 focus:ring-yellow-400;
}

/* PSEUDO STYLES FOR LINKS */

.wp-block-button__link:active,
.wp-block-button__link:focus,
.wp-block-button__link:hover,
.wp-block-button__link:visited {
  @apply text-current;
}

a.text-primary-default h2 {
  @apply text-current;
}
